.header {
    width: 50vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 1rem 0;
}

.header h1, p {
    margin: 0 auto;
}

.title {
    display: flex;
    align-items: center;
}

.titleRow {
    display: flex;
    flex-direction: row;
    margin-right: .5rem;
}

.statsButton {
    font-size: x-large;
}

.statsButton:hover {
    cursor: pointer;
}

@media (max-width: 420px) {
    .header {
        padding: .5rem 0;
    }

    .titleRow {
        padding-right: .5rem;
    }
}