.keyboard {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.keyboardRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: .25rem auto;
}

.keyboardKey {
    padding: 1rem;
    margin: auto .1rem;
    background-color: #6b6d6e;
    color: #fff;
    font-weight: bold;
    border-radius: .25rem;
}

.keyboardKey:hover {
    cursor: pointer;
}

.used {
    background-color: #262626;
}

.inWord {
    background-color: #ccb033;
}

.inPosition {
    background-color: #4ea346;
}

@media (max-width: 375px)  {
    .keyboardKey {
        padding: 1rem 0.55rem;
    }
}

@media (max-width: 420px)  {
    .keyboardKey {
        padding: 1.5rem 0.7rem;
    }
}

