.keyboard {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.keyboardRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: .25rem auto;
}

.keyboardKey {
    padding: 1rem;
    margin: auto .1rem;
    background-color: #818384;
    color: #fff;
    font-weight: bold;
    border-radius: .25rem;
}

.used {
    background-color: black;
}

.inWord {
    background-color: #b59f3b;
}

.inPosition {
    background-color: #538d4e;
}

@media (max-width: 420px)  {
    .keyboardKey {
        padding: 1rem 0.55rem;
    }
}

