.letterSquare {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    padding: 1rem;
    color: #fff;
    font-weight: bolder;
    font-size: 1.5rem;
    height: 1.5rem;
    width: 1.5rem;
}

.small {
    height: .5rem;
    width: .5rem;
}

.rotate-1 {
    transition: transform 1s, background-color 1s;
    transform: rotateY(360deg);
    transform-style: preserve-3d;
}

.rotate-2 {
    transition: transform 1.25s, background-color 1.25s;
    transform: rotateY(360deg);
    transform-style: preserve-3d;
}

.rotate-3 {
    transition: transform 1.5s, background-color 1.5s;
    transform: rotateY(360deg);
    transform-style: preserve-3d;
}

.rotate-4 {
    transition: transform 1.75s, background-color 1.75s;
    transform: rotateY(360deg);
    transform-style: preserve-3d;
}

.rotate-5 {
    transition: transform 2s, background-color 2s;
    transform: rotateY(360deg);
    transform-style: preserve-3d;
}

.rotate-6 {
    transition: transform 2.25s, background-color 2.25s;
    transform: rotateY(360deg);
    transform-style: preserve-3d;
}

.yellow {
    background-color: #ccb033;
}

.green {
    background-color: #4ea346;
}

@media (max-width: 420px)  {
    .letterSquare {
        padding: .75rem;
    }
}