.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #3a3a3c;
}

@media (max-width: 420px) {
  body {
    font-size: .75rem;
  }
}